<div style="background-color: lightgreen; border-radius: 5px; padding: 10px;">
    <h4>Pre-processing Paragraphs</h4>
    <p>...</p>
</div>

## Packages and Loading Files

In [33]:
# Load Packages
import os
import pandas as pd
pd.options.mode.chained_assignment = None

# Import Scripts
from preprocessing_functions import *

## Pre-processing Function

In [31]:
def lemmatise_city_pair(df, POS, OVERWRITE=False, ONLY_ENGLISH_WORDS=False, ENGLISH_WORDS = [],
    english_words_file="../../../input/english_words_alpha_370k.txt", NLP_MAX_LENGTH=1500000):
    
    for tag in tqdm(POS, desc=f"POS: {POS}", leave=False):
        if OVERWRITE or tag not in df.columns:
            df.loc[:, f"{tag}"] = lemmatise_paragraphs(paragraphs=df.loc[:, 'paragraph'], POStag=tag, NLP_MAX_LENGTH=NLP_MAX_LENGTH)

        if ONLY_ENGLISH_WORDS and (OVERWRITE or f'{tag}_clean' not in df.columns):
            df.loc[:, f'{tag}_clean'] = keep_english_words_in_paragraphs(paragraphs=df.loc[:, tag], english_words=ENGLISH_WORDS)
            
    return df

## Variables

In [5]:
data_dir = '../../../../data_clean/' # directory where selected articles will be saved, change if you want to save these elsewhere
out_dir = 'output/'
in_dir = '../../input/'
# extr_dir = path/to/wikidump/ex

In [17]:
POS = ["NOUN", "VERB", "ADJ"]
OVERWRITE=False
ONLY_ENGLISH_WORDS=True
NLP_MAX_LENGTH = 1500000

ENGLISH_WORDS = get_english_words(path=f"{in_dir}english_words_alpha_370k.txt")
# df =  pd.read_csv("../../../../../data/clean/paragraphs/paragraphs_raw_folder_62.csv")

## Pre-processing

In [25]:
paragraphs_dir = os.path.join(data_dir, 'paragraphs')

for file in tqdm(os.listdir(paragraphs_dir), desc= 'Pre-processing paragraphs...'):
    fp = os.path.join(paragraphs_dir, file)
    filename = file.split('.')[0]
    
    df = pd.read_csv(fp)

    lemmatised_df = lemmatise_city_pair(df=df, POS=POS, OVERWRITE=OVERWRITE, ONLY_ENGLISH_WORDS=ONLY_ENGLISH_WORDS, ENGLISH_WORDS=ENGLISH_WORDS, NLP_MAX_LENGTH=NLP_MAX_LENGTH)
    lemmatised_df.to_csv(f"{filename}_preprocessed.csv", index=False)
    
    print(f"Pre-processed {filename}, containing {len(df)} paragraphs.")

Pre-processing paragraphs...:   0%|          | 0/6 [00:00<?, ?it/s]

paragraphs_0_101735
paragraphs_0_101735_test
paragraphs_101735_203469
paragraphs_203469_305203
paragraphs_305203_406937
paragraphs_406937_508671

## Everything from here may be deleted later on

In [12]:
test_file = os.path.join(paragraphs_dir, "paragraphs_0_101735_test.csv")
df =  pd.read_csv(test_file)

In [14]:
df

,city_1,city_2,paragraph_id,paragraph,article_id,title
0,Birmingham,Florence,1,The first community of adherents of the Baha'i...,303,Alabama
1,Florence,Birmingham,2,The first community of adherents of the Baha'i...,303,Alabama
2,Paris,London,3,A major revision of the work by composer and a...,309,An American in Paris
3,London,Paris,4,A major revision of the work by composer and a...,309,An American in Paris
4,Madrid,Rome,5,Access to biocapacity in Algeria is lower than...,358,Algeria
...,...,...,...,...,...,...
488331,Dublin,London,488332,Allman-Smith played hockey for Dublin Universi...,3001932,Edward Allman-Smith
488332,London,Dublin,488333,O'Kelly and Condell met in Dublin in 1969 and ...,3001953,Tir na nOg (band)
488333,Dublin,London,488334,O'Kelly and Condell met in Dublin in 1969 and ...,3001953,Tir na nOg (band)
488334,Birmingham,Dublin,488335,"Tir na nOg reformed in 1985, releasing the sin...",3001953,Tir na nOg (band)
488335,Dublin,Birmingham,488336,"Tir na nOg reformed in 1985, releasing the sin...",3001953,Tir na nOg (band)

In [38]:
%%time

lemmatised_df = lemmatise_city_pair(df=df[:50000], POS=POS, OVERWRITE=OVERWRITE, ONLY_ENGLISH_WORDS=ONLY_ENGLISH_WORDS, ENGLISH_WORDS=ENGLISH_WORDS, NLP_MAX_LENGTH=NLP_MAX_LENGTH)
lemmatised_df.to_csv("lemmatised_file.csv", index=False)

POS: ['NOUN', 'VERB', 'ADJ']:   0%|          | 0/3 [00:00<?, ?it/s]

Lemmatising (NOUN)...:   0%|          | 0/50000 [00:00<?, ?it/s]

Lemmatising (VERB)...:   0%|          | 0/50000 [00:00<?, ?it/s]

Lemmatising (ADJ)...:   0%|          | 0/50000 [00:00<?, ?it/s]

CPU times: total: 7min 57s
Wall time: 23min 6s

In [35]:
test_df = pd.read_csv('lemmatised_file.csv')
test_df

,city_1,city_2,paragraph_id,paragraph,article_id,title,NOUN,NOUN_clean,VERB,VERB_clean,ADJ,ADJ_clean
0,Birmingham,Florence,1,The first community of adherents of the Baha'i...,303,Alabama,"['community', 'adherent', 'center']","['community', 'adherent', 'center']","['found', 'move', 'exist']","['found', 'move', 'exist']",[],[]
1,Florence,Birmingham,2,The first community of adherents of the Baha'i...,303,Alabama,"['community', 'adherent', 'center']","['community', 'adherent', 'center']","['found', 'move', 'exist']","['found', 'move', 'exist']",[],[]
2,Paris,London,3,A major revision of the work by composer and a...,309,An American in Paris,"['revision', 'work', 'composer', 'arranger', '...","['revision', 'work', 'composer', 'arranger', '...","['simplify', 'reduce', 'eliminate', 'avoid', '...","['simplify', 'reduce', 'eliminate', 'avoid', '...","['major', 'standard', 'original', 'original']","['major', 'standard', 'original', 'original']"
3,London,Paris,4,A major revision of the work by composer and a...,309,An American in Paris,"['revision', 'work', 'composer', 'arranger', '...","['revision', 'work', 'composer', 'arranger', '...","['simplify', 'reduce', 'eliminate', 'avoid', '...","['simplify', 'reduce', 'eliminate', 'avoid', '...","['major', 'standard', 'original', 'original']","['major', 'standard', 'original', 'original']"
4,Madrid,Rome,5,Access to biocapacity in Algeria is lower than...,358,Algeria,"['access', 'biocapacity', 'world', 'hectare', ...","['access', 'world', 'hectare', 'person', 'terr...","['mean', 'use', 'contain', 'run', 'hold', 'sec...","['mean', 'use', 'contain', 'run', 'hold', 'sec...","['low', 'average', 'global', 'global', 'global...","['low', 'average', 'global', 'global', 'global..."
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Athens,Stockholm,996,Athens was awarded the 2004 Summer Olympics on...,1216,Athens,"['bid', 'time', 'game', 'event', 'bid', 'bid',...","['bid', 'time', 'game', 'event', 'bid', 'bid',...","['award', 'have', 'lose', 'host', 'host', 'fol...","['award', 'have', 'lose', 'host', 'host', 'fol...","['previous', 'second', 'inaugural', 'unsuccess...","['previous', 'second', 'inaugural', 'unsuccess..."
996,Rome,Athens,997,Athens was awarded the 2004 Summer Olympics on...,1216,Athens,"['bid', 'time', 'game', 'event', 'bid', 'bid',...","['bid', 'time', 'game', 'event', 'bid', 'bid',...","['award', 'have', 'lose', 'host', 'host', 'fol...","['award', 'have', 'lose', 'host', 'host', 'fol...","['previous', 'second', 'inaugural', 'unsuccess...","['previous', 'second', 'inaugural', 'unsuccess..."
997,Rome,Stockholm,998,Athens was awarded the 2004 Summer Olympics on...,1216,Athens,"['bid', 'time', 'game', 'event', 'bid', 'bid',...","['bid', 'time', 'game', 'event', 'bid', 'bid',...","['award', 'have', 'lose', 'host', 'host', 'fol...","['award', 'have', 'lose', 'host', 'host', 'fol...","['previous', 'second', 'inaugural', 'unsuccess...","['previous', 'second', 'inaugural', 'unsuccess..."
998,Stockholm,Athens,999,Athens was awarded the 2004 Summer Olympics on...,1216,Athens,"['bid', 'time', 'game', 'event', 'bid', 'bid',...","['bid', 'time', 'game', 'event', 'bid', 'bid',...","['award', 'have', 'lose', 'host', 'host', 'fol...","['award', 'have', 'lose', 'host', 'host', 'fol...","['previous', 'second', 'inaugural', 'unsuccess...","['previous', 'second', 'inaugural', 'unsuccess..."
999,Stockholm,Rome,1000,Athens was awarded the 2004 Summer Olympics on...,1216,Athens,"['bid', 'time', 'game', 'event', 'bid', 'bid',...","['bid', 'time', 'game', 'event', 'bid', 'bid',...","['award', 'have', 'lose', 'host', 'host', 'fol...","['award', 'have', 'lose', 'host', 'host', 'fol...","['previous', 'second', 'inaugural', 'unsuccess...","['previous', 'second', 'inaugural', 'unsuccess..."